@import url('https://fonts.googleeapis.com/css2?family=cairo:wght@700&family=jomhuria&family=open+sans:ital,wght@1,300&family=outfit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    
--White: hsl(0, 0%, 100%);
--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Slate-300);
    font-size: 15px;
    font-family: 'outfit', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    background-color: var(--White);
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}
.container .image img {
    max-width: 100%;
    border-radius: 0.6rem;
    margin-bottom: 1.25rem;
}
.container .text h1 {
    text-align: center;
    color: var(--Slate-900);
    margin-bottom: 1.25rem;
    font-size: 1.4em;
}
.container .text p {
    text-align: center;
    color: var(--Slate-500);
}

/* Responsive Styles */
@media (min-width:375px){
    .container {
        width: 300px;
    }
}